player-connection-mode=Listen
player-connection-guid=3326070618
player-connection-debug=0
player-connection-project-name=Ricoshooter_Game
player-connection-ip=192.168.50.102
player-connection-ip=25.23.37.242
player-connection-ip=26.176.195.255
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
